@import '../css/normalize.css';
@import '../css/fonts.css';
@import '../css/variables.css';
@import '../css/overall.css';

/* --------------------- */



/* COMPONENTS */
@import '../components/header.css';
@import '../components/hero.css';
@import '../components/proxy-types.css';
@import '../components/help.css';
@import '../components/apply.css';
@import '../components/work.css';
@import '../components/advantages.css';
@import '../components/areas.css';
@import '../components/faq.css';
@import '../components/mobile.css';
@import '../components/footer.css';


/* ------------------------ */


/* добавить декор в блок faq */

@media(max-width:1500px) {
  .advantages__container::before {
    right: 0;
    width: 250px;
    height: 250px;
  }

  .advantages__container::after {
    width: 250px;
    height: 250px;
    left: 0;
  }
}

@media(max-width:1250px) {
  .advantages__container::before {
    transform: translateX(0);
  }

  .advantages__container::after {
    transform: translateX(0);
  }

  .work__row-box::before {
    right: 0;
    width: 250px;
    height: 250px;
  }

  .work__row-box::after {
    left: 0;
    width: 250px;
    height: 250px;
  }

  .hero__decor-item--blue {
    right: -15px;
  }
}

@media(max-width:1050px) {
  .work__row {
    flex-direction: column;
    align-items: center;
  }

  .work__row--2 .work__row-box {
    order: 2;

  }

  .work__row--2 .work__row-btext {
    order: 1;

  }

  .work__row-text {
    margin-bottom: 40px;
  }
  
  .hero__content {
    flex-direction: column;
    align-items: center;
  }

  .hero__info {
    order: 2;
    max-width: 100%;
    margin-right: 0;
  }

  .hero__buttons {
    justify-content: center;
  }

  .hero__img-box {
    order: 1;
  }

  .hero.proxy .hero__img-box {
    margin-right: 0;
  }
}

@media(max-width:768.99px) {
  :root {
    --offset: 100px;
  }
  .header {
    padding: 30px 0;
  }

  .header__logo {
    width: 122px;
    height: 40px;
  }

  .header__socials {
    display: none;
  }
  
  .burger {
    display: block;
  }
  
  .switch-toggle {
    margin-right: 18px;
  }

  .header__nav {
    position: fixed;
    transform: translateY(-200%);
    transition: transform .35s;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(100deg, #1F1D2B 0%, #1F1D2B 100%);
  }


  .footer__container::before {
    display: none;
  }

  .footer__container::after {
    display: none;
  }

  .footer-columns {
    flex-direction: column;
    align-items: center;
  }

  .footer__adress {
    display: none;  
  }

  .footer__list {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 50px 0;
    text-align: center;
  }

  .footer-column--mobile {
    display: block;
  }

  .footer-column--mobile .footer__socials {
    justify-content: center;
  }

  .footer-top__payment {
    margin-bottom: 50px;
  }

  .footer-bottom {
    padding: 0;
    padding-top: 50px;
    flex-direction: column;
    text-align: center;
  }

  .footer__logo {
    margin-bottom: 55px;
  }

  .footer-column--socials {
    width: 100%;
  }

  .footer__link {
    font-size: 16px;
  }

  .section-title {
    font-size: 24px;
  }
}

@media(max-width: 680px) {
  .work__row-box::before {
    width: 250px;
    height: 250px;
    top: -60px;
    right: 0;
  }

  .hero__title {
    font-size: 24px;
  }

  .hero__descr {
    font-size: 16px;
  }

  .hero__info {
    padding-top: 50px;
  }
}



@media(max-width: 600px) {
  .accordion__text {
    padding-right: 0;
  }

  .accordion__title {
    text-align: left;
    max-width: 90%;
  }

  .advantages__items {
    grid-template-columns: repeat(4,1fr);
  }

  .advantages__item-descr {
    font-weight: 400;
  }

  .work__row-head {
    font-size: 24px;
  }

  .work__row-descr {
    font-size: 16px;
  }
  
  .work__row-item {
    font-size: 16px;
  }

  .block-btn {
    flex-direction: column;
    max-width: 273px;
    margin: 0 auto;
  }

  .link-writetocreator {
    gap: 0;
  }

  .btn-buyproxy {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
  }

  .link-title {
    margin-right: 9px;
  }

  .hero__decor-item {
    display: none;
  }


}

@media(max-width: 360.99px) {
  .advantages__item-descr {
    font-size: 12px;
  }
}