.footer {
  background-color: var(--background);
  color: var(--white);
  padding: var(--offset) 0
}

.footer__container {
  max-width: 630px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.footer__container::before,
.footer__container::after {
  position: absolute;
  content: "";
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  z-index: -1;
  width: 325px;
  height: 325px;
}

.footer__container::before {
  background-image: url('../images/footer-decor--blue.png');
  top: -50px;
  right: -75px;
  background-position: center;
}

.footer__container::after {
  background-image: url('../images/footer-decor--green.png');
  left: -100px;
  bottom: -50px;
  background-position: center;
}

.footer-top {
  padding-bottom: 60px;

}

.footer__logo {
  margin-bottom: 15px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
}

.footer-socials__head {
  font-style: normal;
  margin-bottom: 15px;
}

.footer__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

}

.footer__item:not(:last-child){
  margin-bottom: 15px;

}

.footer__payment-list {
  padding: 0;
  margin: 0;
  display: flex;
  /* gap: 10px; */
}

.footer__payment-item:not(:last-child) {
  margin-right: 10px;

}

.footer-payment__head {
  margin-bottom: 15px;
}

.footer__payment-link {
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__payment-link--visa {
  width: 57px;
  height: 18px;
  background-image: url('../images/visa.svg');
}

.footer__payment-link--mc {
  width: 29px;
  height: 18px;
  background-image: url('../images/mc.svg');
}

.footer__payment-link--t {
  width: 22px;
  height: 18px;
  background-image: url('../images/t.svg');
}



.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.10);
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  padding: 22px 0;

}

/* ------------- */
.footer-column--mobile {
  display: none;
}
/* .footer__adress-mobile {
  display: none;
} */

