.hero {
  min-height: 600px;
  position: relative;

}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  background-color: var(--background);
}

.hero__content {  
  padding-top: 85px;
  padding-bottom: 80px;
}
.hero__content {
  display: flex;

}

.hero__info {
  padding-top: 85px;
  max-width: 507px;
  color: var(--white);
  margin-right: 75px;
}

.hero__title {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 140%;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;

}

.hero__descr {
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 30px;
}

.block-btn {
  display: flex;
  /* gap: 20px; */
}

.btn-buyproxy {
  margin-right: 20px;
}

.btn-buyproxy {
  padding: 15px 30px;
  font-size: 16px;
  line-height: 140%;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.25);
  color: var(--white);
  text-align: center;
  border-radius: 16px;
  background: linear-gradient(47deg, #0A6FCC -44.41%, rgba(59, 237, 77, 0.75) 124.33%);
  box-shadow: 0px 2.5px 9.375px 0px #004770;
  transition: background 1s ease;
}

.btn-buyproxy:hover {
  background: linear-gradient(47deg, rgba(59, 237, 77, 0.75) -44.41%, #0A6FCC 124.33%);
  box-shadow: 0px 2.5px 9.375px 0px #004770;
  transition: background 1s ease;
}

.link-writetocreator {
  position: relative;
  font-size: 16px;
  padding: 15px 20px;
  transition: all .35s;
  min-height: 52px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background-color: var(--background);
  
  

}

.link-writetocreator::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(47deg, #0A6FCC -44.41%, rgba(59, 237, 77, 0.75) 124.33%);
  border-radius: 15px;
  z-index: -1;
}



.link-title {
  background: linear-gradient(47deg, #0A6FCC -44.41%, rgba(59, 237, 77, 0.75) 124.33%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;

}

.link-writetocreator__icon {
  display: inline-block;
  transform: translateY(3px);
}

.link-writetocreator:hover {
  /* border: 1px solid var(--brand-color, #0A6FCC); */
  background: linear-gradient(47deg, #0A6FCC -44.41%, rgba(59, 237, 77, 0.75) 124.33%);
  box-shadow: 0px 2.5px 9.375px 0px #004770;
  transition: all .35s;
}

.link-writetocreator:hover .link-title {
  background: var(--white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-writetocreator:hover span path {
  fill: var(--white);
  transition: .35s;
}

.decor-item {
  position: absolute;
}

.hero__img-box {
  position: relative;
  flex-shrink: 0;
}

.hero__decor-item {
  position: absolute;
  z-index: -1;
  width: 350px;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__decor-item--blue {
  position: absolute;
  top: 0;
  right: -50px;
  background-image: url('../images/blue-decor.png');

}

.hero__decor-item--green {
  position: absolute;
  left: -50px;
  bottom: -50px;
  background-image: url('../images/green-decor.png');

}

.hero.proxy .hero__info {
  order: 2;
  margin-right: 0;
  max-width: 534px;
}

.hero.proxy .hero__img-box {
  order: 1;
  margin-right: 75px;
}



